
        <div class="primary-sidebar">
            <ul class="nav nav-collapse collapse nav-collapse-primary">
                <li class="active">
                    <span class="glow">
                    </span>
                    <a href="/">
                        <i class="icon-dashboard icon-2x">
                        </i>
                        <span>
                            控制台
                        </span>
                    </a>
                </li>
                <li class="">
                    <span class="glow">
                    </span>
                    <a href="###">
                        <i class="icon-bar-chart icon-2x">
                        </i>
                        <span>
                            界面管理
                        </span>
                    </a>
                </li>
                <li class="">
                    <span class="glow">
                    </span>
                    <a href="lession">
                        <i class="icon-edit icon-2x">
                        </i>
                        <span>
                            课程管理
                        </span>
                    </a>
                </li>
                <li class="">
                    <span class="glow">
                    </span>
                    <a href="###">
                        <i class="icon-edit icon-2x">
                        </i>
                        <span>
                            资源管理
                        </span>
                    </a>
                </li>
                <li class="">
                    <span class="glow">
                    </span>
                    <a href="###">
                        <i class="icon-edit icon-2x">
                        </i>
                        <span>
                            题库管理
                        </span>
                    </a>
                </li>
                <li class="">
                    <span class="glow">
                    </span>
                    <a href="user">
                        <i class="icon-edit icon-2x">
                        </i>
                        <span>
                            用户管理
                        </span>
                    </a>
                </li>
                <li class="dark-nav ">
                    <span class="glow">
                    </span>
                    <a class="accordion-toggle collapsed " data-toggle="collapse" href="#MB8CPSHAKP">
                        <i class="icon-edit icon-2x">
                        </i>
                        <span>
                            系统管理
                            <i class="icon-caret-down">
                            </i>
                        </span>
                    </a>
                    <ul id="MB8CPSHAKP" class="collapse ">
                        <li class="">
                            <a href="###">
                                <i class="icon-magic">
                                </i>
                                系统信息
                            </a>
                        </li>
                        <li class="">
                            <a href="###">
                                <i class="icon-user">
                                </i>
                                管理分配
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <span class="glow">
                    </span>
                    <a href="logout">
                        <i class="icon-edit icon-2x">
                        </i>
                        <span>
                            退出
                        </span>
                    </a>
                </li>
            </ul>
        </div>