<%- include header %>
    <div class="tm-middle">
            <div class="uk-grid" data-uk-grid-margin>
                <%- include menuLeft %>
                <div class="tm-main uk-width-medium-4-5">
                    <article class="uk-article">
                        <ul class="uk-breadcrumb">
                            <li class="uk-active"><a href="/">控制台</a></li>
                        </ul>
                        <h1>开始使用</h1>
                    </article>

                </div>
            </div>

        </div>




    </body>
</html>
