<div class="tm-sidebar uk-width-medium-1-5 uk-hidden-small">
    <ul class="tm-nav uk-nav" data-uk-nav>                            
        <li><a href="###">控制台</a></li>
        <li><a href="###">课程管理</a></li>
        <li class="uk-parent"><a href="#">关于</a>
            <ul class="uk-nav-sub">
                <li><a href="###">关于项目</a></li>
                <li><a href="###">关于技术</a></li>
                <li><a href="###">关于我们</a></li>
            </ul>
        </li>
    </ul>
</div>